*{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
    margin: 0;
    padding: 0;
    background: rgb(220,248,248);
}
a{
    text-decoration: none;
}
.box{
    width: 300px;
    box-shadow: 2px 2px 30px rgba(0,0,0,0.2);
    border-radius: 13px;
    overflow: hidden;
    margin: 25px;
    /* position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%); */
}
.slider{
    height: 400px;
    position: relative;
}
.slider img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-sizing: border-box;
}
.detail-box{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-sizing: border-box;
}
.type{
    display: flex;
    flex-direction: column;
}
.type a{
    color: black;
    margin: 5px 0px;
    font-weight: 700;
    letter-spacing: 0.5px;
    padding-right: 8px;
}
.type span{
    color: rgba(145, 90, 90, 0.5);
    font-weight: bold;
}
.type a:hover,
.type span:hover{
    font-size: 1.1rem;
}
.price{
    color: black;
    font-weight: 500;
    font-size: 1.2rem;
    letter-spacing: 0.5px;
}
.buy{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    height: 100%;
    background-color: rgb(155,187,248);
    display: flex;
    justify-content: center;
    align-items: center;
}
.button{
    width: 160px ;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
    border-radius: 20px;
    color: black;
    letter-spacing: 1px;
    font-weight: 600;
    box-shadow: 2px 2px 30px rgba(0,0,0,0.2);
}
.button:hover{
    color: white;
    background-color: #077b8a ;
    transition: all ease 0.3s;
    box-shadow: 15px px 30px rgba(0,0,0,0.2);
}
.buy{
    visibility: hidden;
}
.slider:hover .buy{
    visibility: visible;
    animation: fadeimage 0.5s;
}
@keyframes fadeimage {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}